<div class="signin d-flex justify-content-center align-items-center shadow">
    <div class="card ms-3 me-3 auth-card h-100">
        <img src="../../../assets/img/logo/logoBlue.png" routerLink="/" class="card-img-top" alt="...">
        <div class="card-body">
            <router-outlet></router-outlet>
            <auth-social-login></auth-social-login>
            <!-- <div  class="d-grid gap-2 mt-5">
                <button class="btn btn-secondary" type="button">Create an Account</button>
              </div> -->
        </div>
    </div>
</div>