@use '../../../../node_modules/bootstrap/scss/mixins' as *;
.navbar-brand {
    font-size: xx-large;
}

.navbar-nav>a {
    font-size: large;
}

@media (max-width: 992px) { 
    .navbar-brand {
        font-size: large;
    }
    .navbar-nav>a {
        font-size: medium;
    }
}
.logout{
    font-weight: bolder;
    font-size: larger;
}
.login{
    align-items: center;
    cursor: pointer;
}
.profilethumb{
    position: relative;
}
.bluetickthumb{
    position: absolute;
    bottom: 0;
    right: 12px;
}