<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">

    <app-logo></app-logo>

    <button class="navbar-toggler" aria-controls="staticBackdrop" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel" data-bs-backdrop="static">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">{{this.sharedService.appName}}</h5>
        <button type="button btn-danger" data-bs-dismiss="offcanvas" aria-label="Close">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link" aria-current="about" href="#">About <i class="bi bi-shop-window"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact <i class="bi bi-person-lines-fill"></i></a>
          </li>

        </ul>
        <user-menu></user-menu>
      </div>
    </div>
  </div>
</nav>
<ng-template #login>
  <div class="text-light login" routerLink="/user/auth/signin">Login/ Register &nbsp;<i
      class="bi bi-person-circle fs-3"></i></div>
</ng-template>