.contact-form-container {
    background-image: url('./../../../assets/img/contactus.jpg');
    background-repeat: no-repeat;
    background-size: contain;
}

.form-opacity {
    background-color: rgba($color: rgb(1, 54, 68), $alpha: 0.8);
}

.address-card{
    background-color: rgba($color: rgb(1, 54, 68), $alpha: 0.8);
    color: white;
}