.logo{
    color: white;
    font-family: cursive;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}
.logo-small{
    color: white;
    font-family: cursive;
    font-weight: bolder;
    font-size: medium;
    cursor: pointer;
}