.blogitem{
    padding: 10px 20px;
    margin: 0px 5px 5px 0px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    transition: width 6s, height 8s;
    &:hover{
        text-decoration: underline;
    }
}
.most-clicked{
    opacity: 1;
}