@import './../../../assets/scss/custom.scss';

.routerLinkActive {
    background-color: $blue;
    color: white;

    &:focus {
        background-color: $blue;
        color: white;
    }
}

li>ul>li {
    list-style: none;

    a {
        padding: 5px;
        border-radius: 10px 0px 0px 10px;
    }
}