<div class="position-sticky pt-3 sidebar-sticky">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive"  aria-current="page" routerLink="/dashboard">
        <span data-feather="home" class="align-text-bottom"></span>
        <i class="bi bi-clipboard-data"></i> Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" routerLink="/dashboard/categories">
        <span data-feather="file" class="align-text-bottom"></span>
        <i class="bi bi-bookshelf"></i> Categories
      </a>
    </li>
    <li class="nav-item ">
      <a class="nav-link " [routerLinkActiveOptions]="{exact: false}" routerLinkActive="routerLinkActive" routerLink="/dashboard/blogs">
        <span data-feather="shopping-cart" class="align-text-bottom"></span>
        <i class="bi bi-journal-album"></i> Blogs
      </a>
      <ul>
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" routerLink="/dashboard/blogs/list" class="dropdown-item" href="#"><i class="bi bi-list-nested"></i> All</a></li>
        <li><a [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" routerLink="/dashboard/blogs/create" class="dropdown-item" href="#"><i class="bi bi-plus-circle"></i> Add</a></li>
      </ul>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" href="#">
        <span data-feather="users" class="align-text-bottom"></span>
        Customers
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" href="#">
        <span data-feather="bar-chart-2" class="align-text-bottom"></span>
        Reports
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" href="#">
        <span data-feather="layers" class="align-text-bottom"></span>
        Integrations
      </a>
    </li>
  </ul>

  <h6
    class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
    <span>Saved reports</span>
    <a class="link-secondary" href="#" aria-label="Add a new report">
      <span data-feather="plus-circle" class="align-text-bottom"></span>
    </a>
  </h6>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" href="#">
        <span data-feather="file-text" class="align-text-bottom"></span>
        Current month
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" href="#">
        <span data-feather="file-text" class="align-text-bottom"></span>
        Last quarter
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" href="#">
        <span data-feather="file-text" class="align-text-bottom"></span>
        Social engagement
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="routerLinkActive" href="#">
        <span data-feather="file-text" class="align-text-bottom"></span>
        Year-end sale
      </a>
    </li>
  </ul>
</div>