<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" [ngClass]="paginationType == 2 ? 'pagination-sm' : ''">
        <!-- <li class="page-item">
            <a class="page-link" aria-label="Previous">
                <i class="bi bi-skip-start-fill"></i>
            </a>
        </li> -->
        <li class="page-item">
            <a class="page-link" aria-label="Previous" [ngClass]="paginationConfig.currentPage === 1 ? 'disabled': ''" (click)="paginationClickEventEmitter(paginationConfig.currentPage - 1)">
                <i class="bi bi-caret-left-fill"></i>
            </a>
        </li>

  <li class="page-item" *ngFor="let item of pages" [ngClass]="item.key === paginationConfig.currentPage ? 'active':''"><a class="page-link"
                (click)="paginationClickEventEmitter(item.val)">{{item.key}}

            </a></li>
        <li class="page-item">
            <a class="page-link" aria-label="next"   (click)="paginationClickEventEmitter(paginationConfig.currentPage + 1)" [ngClass]="paginationConfig.currentPage === totalPages ? 'disabled': ''">
                <i class="bi bi-caret-right-fill"></i>
            </a>
        </li>
        <!-- <li class="page-item">
            <a class="page-link" aria-label="Previous">
                <i class="bi bi-skip-end-fill"></i>
            </a>
        </li> -->
    </ul>
</nav>