<table class="table table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Category</th>
            <th scope="col">Sub Category</th>
            <th scope="col">Sub Category - 2</th>
            <th scope="col">
                <div class="d-grid gap-2"><button type="button" class="btn btn-primary btn-sm">Add +</button></div>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Mark</td>
            <td>Otto</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td>
                <div class="d-flex justify-content-evenly">
                    <i class="bi bi-trash-fill text-danger"></i>
                    <i class="bi bi-pencil-square text-primary"></i>
                    <i class="bi bi-clipboard"></i>
                </div>
            </td>
        </tr>
        <tr>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td>Mark</td>
            <td>
                <div class="d-flex justify-content-evenly">
                    <i class="bi bi-trash-fill text-danger"></i>
                    <i class="bi bi-pencil-square text-primary"></i>
                    <i class="bi bi-clipboard"></i>
                </div>
            </td>
        </tr>
        <tr>
            <td>Larry the Bird</td>
            <td>@twitter</td>
            <td>Mark</td>
            <td>Otto</td>
            <td>
                <div class="d-flex justify-content-evenly">
                    <i class="bi bi-trash-fill text-danger"></i>
                    <i class="bi bi-pencil-square text-primary"></i>
                    <i class="bi bi-clipboard"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>