.avatar-container {
    .circle {
        border-radius: 50%;
    }

    .white-2-border {
        border: 2px solid rgb(244, 244, 248);
        padding: 2px;
    }

    .blue-2-border {
        border: 2px solid rgb(23, 23, 75);
        padding: 2px;
    }
}