<div class="row align-items-md-center">
    <div class="d-flex flex-column align-items-start card mb-2 px-4 pt-2" *ngFor="let blog of blogs">
        <div class="w-100 d-flex justify-content-between">
            <div>
                <h4 class="fw-bold cursor-pointer"  [routerLink]="['/blogs/blogId', blog._id]">{{blog.title}}</h4>
            </div>
            <div class="d-flex justify-content-evenly">
                <i class="bi bi-trash-fill text-danger " (click)="delete(blog._id)"></i>
                <i class="bi bi-pencil-square text-primary"></i>
                <!-- <i class="bi bi-clipboard"></i> -->
            </div>
        </div>
        <p class="text-muted">{{blog.description}}</p>
    </div>
</div>