// .auth{
//     text-align: right;
// }
.blog-title {
    h1 {
        font-weight: bold;
    }
}

table {
    background-color: red($color: #000000) !important;
}

.blockquote {
    background-color: yellow;
}

.seo {
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}