<div class="blog-container container-fluid">
  <div class="row gx-4">
    <div class="col-lg-9 shadow">
      <div class="blog-title">
        <h1>{{blog.title}}</h1>
      </div>
      <div class="auth-container">
        <!-- <div class="auth">
                    <em>~ By Paul Andrew on Jun 17th, 2022</em>
                </div> -->
        <div>
          <span *ngFor="let seoo of blog.seo" class="badge me-1 text-bg-primary seo"
            [routerLink]="['/blogs/getblogs', 'seo',seoo]">{{seoo}}</span>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <div>
            <span class="text-muted created-at">Updated {{humanDate(blog.createdAt)}}</span>
          </div>
          <div class="d-flex align-items-center">
            <span class="badge rounded-pill text-bg-success"> <i class="bi bi-eye-fill"></i> {{blog.view}}</span>
          </div>
        </div>
      </div>
      <hr class="border border-primary mt-0 border-1 opacity-75">
      <div class="markdown">
        <markdown [data]="blog.markdown" lineNumbers emoji katex clipboard mermaid>
        </markdown>
      </div>
      <div class="container">
        <srh-comment [blogId]="blog._id"></srh-comment>
      </div>
    </div>
    <div class="col-lg-3">
      <blog-navigation></blog-navigation>
    </div>
  </div>
  
</div>