<div class="mt-5 shadow px-4 py-2 comment-border">
    <div class="d-flex justify-content-center row">
        <div class="col-md-">
            <div class="d-flex flex-column comment-section">
                <div class="bg-white">
                    <div class="cursor d-flex align-items-center flex-row fs-12">
                        <div class="like p-2 ">
                            <button class="btn btn-light btn-sm" (click)="likeclickHandler()" [disabled]="!user">
                                <i class="bi  text-primary fs-5"
                                    [ngClass]=" ifILiked() ? 'bi-hand-thumbs-up-fill' : user ? 'bi-hand-thumbs-up' : 'bi-hand-thumbs-up-fill' ">
                                </i><span class="ml-1">&nbsp;{{likes?.length ?? 0}}</span>
                            </button>
                        </div>
                        <div class="like p-2 cursor d-flex align-items-center"><i class="bi bi-chat-left-dots-fill text-primary fs-5"></i><span
                                class="ml-1">&nbsp; {{comments?.length}}</span>
                        </div>
                        <div class="like p-2 cursor d-flex align-items-center"><a class="ml-1" href="https://facebook.com" target="_blank"> <i
                                    class="bi bi-share-fill text-primary fs-5"></i></a></div>
                    </div>
                </div>
                <div class="bg-light p-2">
                    <new-comment *ngIf="user; else clickTologin" [avatar]="user.avatar" (commentSaveClickEvent)="commentHandler($event)"></new-comment>
                    <ng-template #clickTologin><h6 class="text-danger cursor-pointer" [routerLink]="['/user/auth/signin','blogs/blogId/'+blogId]">login to Like/ Comment on this blog</h6></ng-template>
                </div>
                <div class="bg-white p-2">
                    <comment-item *ngFor="let commentItem of comments" [comment]="commentItem"></comment-item>
                </div>
            </div>
        </div>
    </div>
</div>