<div class="shadow-sm px-4 py-2 mb-2">
    <div class="d-flex flex-row user-info">
        <srh-avatar dimension="40x40" customclass="circle blue-2-border" [avatar]="comment.user.avatar"></srh-avatar>
        <div class="d-flex flex-column justify-content-start ms-3"><span
                class="d-block font-weight-bold name text-primary fw-bold text-decoration-underline">{{comment.user.name}}</span><span
                class="date text-black-50 fst-italic">{{humanDate(comment.createdAt)}}</span></div>
    </div>
    <div class="mt-2">
        <p class="comment-text">{{comment.comment}}</p>
    </div>
</div>