.menu-container{
    padding: 10px 10px 0px 10px;
    min-width: 300px;
}
.profile{
    position: relative;

    .editprofile{
        position: absolute;
        bottom: 0;
        right: 104px;
    }
}
.cur-pointer{
    cursor: pointer;
}
.cur-default{
    cursor: default;
}


.profilecard{
    // background-image: url('./../../../assets/svg/profilewave.svg');
    background-repeat: no-repeat;
}
.cursor-pointer{
    cursor: pointer;
}