<h2 class="card-title page-title mb-4 text-center">{{signIn}}</h2>
<form [formGroup]="signInForm">
    <div class="mb-3">
        <srh-input name="email" inputLevel='Enter your email.' inputType='email' [isDissabled]=false
            classes="form-control" [control]="signInForm.controls.email"></srh-input>
    </div>
    <div class="mb-3">
        <srh-input [helpText]="passwordHelpText" name="password" inputLevel='Password.' inputType='password'
            [isDissabled]=false classes="form-control" [control]="signInForm.controls.password"></srh-input>
    </div>
    <div class="mb-3 form-check">
        <srh-input name="rememberme" [inputLevel]='rememberMe' inputType='checkbox' [isDissabled]=false
            [control]="signInForm.controls.rememberMe" classes="form-check-input"></srh-input>
    </div>
    <a routerLink="/user/auth/forgotpassword">{{forgotPass}}</a><br />
    <a routerLink="/user/auth/signup">{{signUpText}}</a>
    <div class="d-grid gap-2 mt-2">
        <button class="btn btn-primary" type="button" (click)="localSignIn()">{{signIn}}</button>
    </div>
</form>